<section>

  <h3>Opmerkingen en suggesties</h3>

<form method="POST" action="//formspree.io/{{ site.data.settings.email }}">

  <fieldset class="contact-info-group">

    <label><span></span>
    <input type="text" name="naam" placeholder="Uw naam"></label>

    <label><span></span>
    <input type="email" name="_replyto" placeholder="Uw email adres"></label>

  </fieldset>

  <label><span></span>
  <textarea name="bericht">Opmerkingen en suggesties</textarea></label>

  <fieldset class="submit-wrap">
    <input type="submit" class="button-primary" value="verzenden">
  </fieldset>

</form>

</section>
